html{
    text-align: center;
    background-color: rgb(2, 41, 2);
    color: whitesmoke;
}
#menu_bar{
    display: block;
    justify-content:flex-start;
}
.click_icon{
    filter: invert(100%) sepia(0%) saturate(7427%) hue-rotate(63deg) brightness(118%) contrast(101%);
}

.tiles{
    display: inline-flex;
    flex-wrap: wrap;

}
.hands{
    display: inline-flex;
    flex-wrap: wrap;

}
.melds > *{
    display: inline-flex;
    flex-wrap: wrap;

}
.melds > * > *{
    display: inline-flex;
    flex-wrap: wrap;

}
h1{
    margin: auto;
    width: 50%;
    border: 10px solid green;
    padding: 10px;
    font-family: Arial;
    font-weight: bold;
    font-size: 40;

}
h2{
    font-size: 30;
}
.scores > li{
    font-size: 25;
}
#footer {
    left: 0;
    bottom: 0;
    width: 100%;
}
[status = 'unclickable']{
    opacity: 50%;
}
strong{
    font-weight: bold;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box a {
    display: inline-block;
    padding: 15px;
    border-radius: 3px;
    color:white;
}

.modal {
    align-items: center;
    margin: 10%auto;
    width: 40%;
    height: fit-content;
    padding: 20px;
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(76, 12, 136);
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
}
.modal > ul{
    text-align: left;
    list-style: circle;
}
.modal:target {
    visibility: visible;
    opacity: 1;
}

.box-close {
    position: absolute;
    top: 0;
    right: 15px;
    color: #fe0606;
    text-decoration: none;
    font-size: 30px;
}
.about {
    position: absolute;
    background: white;
    width: 400px;
    padding: 1em 2em;
    border-radius: 4px;
}
